<% include partials/header.ejs %>
<br><br><br>
<h1 align="center">ERROR 404</h1>
<br>
<h3 align="center">Oops! Something Went Wrong Please Restart The Server And Try Again..</h3>
<h6 align="center">You can restart the server by typing "rs" into the terminal!</h6>
<br><br><br><br>
<div class="container">
  <p style="text-align:center;">
    <%= error %>
  </p>
</div>
<% include partials/footer.ejs %>
