<% include partials/header.ejs %>
<br>
<h1 align="center">Production</h1>
<div class="container">
		<form action="/finished_good/production" method="POST" class="form" id="form" onsubmit="return confirm('Do you want to submit?');">
			<div class="row">
				<div class="col-md-6">
					<label>Description:<input id="product" list="Product" name="product" class="form-control">
						<datalist id="Product">
						<option value=""></option>
						<% for(var i=0;i<finished_goods.length;i++){ %>
							<option value="<%= finished_goods[i].code %>$<%= finished_goods[i].name %>"><%= finished_goods[i].code %>$<%= finished_goods[i].name %></option>
						<% } %>
						</datalist>
					</label>
				</div>
				<div class="col-md-3"></div>
				<label>Quantity: <input type="number" name="quan" class="form-control"></label>
			</div>
			<button type="button" class="btn btn-dark" onclick="func()">Add</button>
			<br><br>
	<table class="table table-striped table-bordered table-hover">
		<thead class="thead-dark">
			<th>Description</th>
			<th>Part Number</th>
			<th>Quantity</th>
			<th>#</th>
		</thead>
	</table>
	<button type="submit" class="btn btn-success">Submit</button>
	</form>
</div>

<script type="text/javascript">
	function but_func(i){
		document.querySelector("table").deleteRow(i);
	}
	var i = 0;
	function func () {
		if(document.getElementById("form").elements[1].value){
			var table = document.querySelector("table");
			var row = table.insertRow(1);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			var cell4 = row.insertCell(3);
			var productInfo = document.getElementById("form").elements[0].value;
			var product = productInfo.split("$");
			var product_name = product[1];
			var product_code = product[0];
			var quantity = document.getElementById("form").elements[1].value;

			cell1.innerHTML = product_name + '<input type="hidden" name="finished_goods_name[' + i + ']" value="' + product_name + '">';
			cell2.innerHTML = product_code + '<input type="hidden" name="finished_goods_code[' + i + ']" value="' + product_code + '">';
			cell3.innerHTML = quantity + '<input type="hidden" name="quantity[' + i + ']" value="' + quantity + '">';
			cell4.innerHTML = '<button type="button" class="btn btn-danger" onclick="but_func('+row.rowIndex+')">Delete</button>'

			i++;
			document.getElementById("product").value = null;
			document.getElementById("form").elements[1].value = null;
		}
	}
</script>
<% include partials/footer.ejs %>
