<% include partials/header.ejs %>
<br>
<h1 align="center">Production/Dispatch</h1>
<br><br><br><br><br>
<div class="container jumbotron">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-3">
			<a href="/finished_good/production" class="btn btn-info btn-lg btn-block">Production</a>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<a href="/finished_good/dispatch" class="btn btn-info btn-lg btn-block">Dispatch</a>
		</div>
	</div>
</div>

<% include partials/footer.ejs %>
